
<!DOCTYPE html>

<head>
    <title>วัดหนองป่าพง</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="icon" type="image/png" href="~/assets/imgs/WNPP-Logo.png">
    <link rel="stylesheet" href="~/assets/css//mali.css">
    <!-- Material Kit CSS -->
    <link href="~/assets/css/material-dashboard.css?v=2.2.2" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">


</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="rose" data-background-color="black" data-image="https://www.bodhisaddha.org/wat/wp-content/uploads/2018/02/Luang-Por-Liem-MAR23-1-e1677538703835.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="https://www.watnongpahpong.org" class="simple-text logo-mini">
                    HQ
                </a>
                <a href="https://www.watnongpahpong.org" class="simple-text logo-normal">
                    วัดหนองป่าพง
                </a>
            </div>
            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="~/assets/imgs/WNPP-Logo.png" />
                    </div>
                    <div class="user-info">
                        <a data-toggle="collapse" href="#collapseExample" class="username">
                            <span>
                                สำนักเลขา
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"> MP </span>
                                        <span class="sidebar-normal"> My Profile </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"> EP </span>
                                        <span class="sidebar-normal"> Edit Profile </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"> S </span>
                                        <span class="sidebar-normal"> Settings </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="../../examples/dashboard.html">
                            <i class="material-icons">dashboard</i>
                            <p> Dashboard </p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#branchRegister">
                            <i class="material-icons">place</i>
                            <p>
                                งาน ทะเบียนสาขา
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse @ViewData["MenuListB"]" id="branchRegister">
                            <ul class="nav">
                                <li class="nav-item @ViewData["MenuB0"]">
                                    <a class="nav-link" asp-area="" asp-controller="Branch" asp-action="Register">
                                        <span class="sidebar-mini"> B0 </span>
                                        <span class="sidebar-normal"> ลงทะเบียน </span>
                                    </a>
                                </li>
                                <li class="nav-item @ViewData["MenuB1"]">
                                    <a class="nav-link" asp-area="" asp-controller="Branch" asp-action="SearchBranch01">
                                        <span class="sidebar-mini"> B1 </span>
                                        <span class="sidebar-normal"> สาขา </span>
                                    </a>
                                </li>
                                <li class="nav-item @ViewData["MenuB2"]">
                                    <a class="nav-link" asp-area="" asp-controller="Branch" asp-action="SearchBranch02">
                                        <span class="sidebar-mini"> B2 </span>
                                        <span class="sidebar-normal"> สำรอง </span>
                                    </a>
                                </li>
                                <li class="nav-item @ViewData["MenuB3"]">
                                    <a class="nav-link" asp-area="" asp-controller="Branch" asp-action="SearchBranch03">
                                        <span class="sidebar-mini"> B3 </span>
                                        <span class="sidebar-normal"> สำรวจ </span>
                                    </a>
                                </li>
                                <li class="nav-item @ViewData["MenuB4"]">
                                    <a class="nav-link" asp-area="" asp-controller="Branch" asp-action="SearchBranch04">
                                        <span class="sidebar-mini"> B4 </span>
                                        <span class="sidebar-normal"> นานาชาติ </span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#significantNumber">
                            <i class="material-icons">content_paste</i>
                            <p>
                                งาน ออกเลขสำคัญ
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="significantNumber">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="../../examples/forms/regular.html">
                                        <span class="sidebar-mini"> 01 </span>
                                        <span class="sidebar-normal"> บันทึกเลขสำคัญ </span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="../../examples/forms/extended.html">
                                        <span class="sidebar-mini"> 02 </span>
                                        <span class="sidebar-normal"> คัดค้นเลขสำคัญ </span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="../../examples/forms/validation.html">
                                        <span class="sidebar-mini"> 03 </span>
                                        <span class="sidebar-normal"> สรุปเลขประจำปี </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#monkRegister">
                            <i class="material-icons">person_add</i>
                            <p>
                                งาน ทะเบียนภิกษุ
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="monkRegister">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="../../examples/forms/regular.html">
                                        <span class="sidebar-mini"> 01 </span>
                                        <span class="sidebar-normal"> คัดค้นข้อมูลภิกษุ </span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="../../examples/forms/extended.html">
                                        <span class="sidebar-mini"> 02 </span>
                                        <span class="sidebar-normal"> ภิกษุ ในพรรษา </span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="../../examples/forms/validation.html">
                                        <span class="sidebar-mini"> 03 </span>
                                        <span class="sidebar-normal"> สัทธิวิหาริก </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#healthCareFund">
                            <i class="material-icons">vaccines</i>
                            <p>
                                งาน กองทุนภิกษุอาพาธ
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="healthCareFund">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="../../examples/forms/regular.html">
                                        <span class="sidebar-mini"> 01 </span>
                                        <span class="sidebar-normal"> คัดค้นข้อมูลภิกษุอาพาธ </span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="../../examples/forms/extended.html">
                                        <span class="sidebar-mini"> 02 </span>
                                        <span class="sidebar-normal"> บันทึกข้อมูลภิกษุอาพาธ </span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="../../examples/forms/validation.html">
                                        <span class="sidebar-mini"> 03 </span>
                                        <span class="sidebar-normal"> สรุปข้อมูลภิกษุอาพาธ </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#heritageCenter">
                            <i class="material-icons">compost</i>
                            <p>
                                งาน ศูนย์มรดกธรรม
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="heritageCenter">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="../../examples/forms/regular.html">
                                        <span class="sidebar-mini"> 01 </span>
                                        <span class="sidebar-normal"> สินค้าคงคลัง </span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="../../examples/forms/extended.html">
                                        <span class="sidebar-mini"> 02 </span>
                                        <span class="sidebar-normal"> ประวัติเอกสาร </span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="../../examples/forms/validation.html">
                                        <span class="sidebar-mini"> 03 </span>
                                        <span class="sidebar-normal"> จัดการคลัง </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sidebar-background"></div>
        </div>
        <!------- MAIN ------------------------------------------>
        <div class="main-panel">
            <!------- Navbar ------------------------------------------>
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                                <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                            </button>
                        </div>
                        <a class="navbar-brand" href="javascript:;">สำนักเลขา วัดหนองป่าพง</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button id="btSearch" onclick="btSearch_Click" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;">
                                    <i class="material-icons">dashboard</i>
                                    <p class="d-lg-none d-md-block">
                                        Stats
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                    <a class="dropdown-item" href="#">Another Notification</a>
                                    <a class="dropdown-item" href="#">Another One</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!------- End Navbar ------------------------------------------>
            <!------- MAIN CONTENT ------------------------------------------>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                @RenderBody()
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
                    <!-- end row -->
                </div>
            </div>
            <!-------END MAIN CONTENT ------------------------------------------>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                            <li>
                                <a href="https://www.watnongpahpong.org">
                                    Secretariat
                                </a>
                            </li>
                            <li>
                                <a href="https://www.watnongpahpong.org">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="https://www.watnongpahpong.org">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="https://www.watnongpahpong.org/%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%9A-%E0%B8%A2%E0%B8%9A%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%82-%E0%B8%AD%E0%B8%81%E0%B8%95-%E0%B8%81%E0%B8%B2%E0%B8%AA%E0%B8%87%E0%B8%86">
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made with <i class="material-icons">favorite</i> by
                        <a href="https://www.watnongpahpong.org" target="_blank">สำนักเลขา</a> วัดหนองป่าพง.
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>

    <!-- Plugin for the momentJs  -->
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/assets/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="~/assets/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chartist JS -->
    <script src="~/assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/material-dashboard.js?v=2.2.2" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }

                }

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        if ($(".sidebar").length != 0) {
                            var ps = new PerfectScrollbar('.sidebar');
                        }
                        if ($(".sidebar-wrapper").length != 0) {
                            var ps1 = new PerfectScrollbar('.sidebar-wrapper');
                        }
                        if ($(".main-panel").length != 0) {
                            var ps2 = new PerfectScrollbar('.main-panel');
                        }
                        if ($(".main").length != 0) {
                            var ps3 = new PerfectScrollbar('main');
                        }

                    } else {

                        if ($(".sidebar").length != 0) {
                            var ps = new PerfectScrollbar('.sidebar');
                            ps.destroy();
                        }
                        if ($(".sidebar-wrapper").length != 0) {
                            var ps1 = new PerfectScrollbar('.sidebar-wrapper');
                            ps1.destroy();
                        }
                        if ($(".main-panel").length != 0) {
                            var ps2 = new PerfectScrollbar('.main-panel');
                            ps2.destroy();
                        }
                        if ($(".main").length != 0) {
                            var ps3 = new PerfectScrollbar('main');
                            ps3.destroy();
                        }


                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            $("#btSearch").click(function () {
                alert("กูแกไปแล้วจริงๆ. @ViewData["MenuName"]");
            });

            $('#datatables').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "All"]
                ],
                responsive: true,
                language: {
                    search: "ระบุคำค้นหา",
                    searchPlaceholder: "......",
                }
            });

            var table = $('#datatables').DataTable();

            // Edit record

            table.on('click', '.edit', function () {
                $tr = $(this).closest('tr');

                if ($($tr).hasClass('child')) {
                    $tr = $tr.prev('.parent');
                }

                var data = table.row($tr).data();
                alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            });

            // Delete a record

            table.on('click', '.remove', function (e) {
                $tr = $(this).closest('tr');

                if ($($tr).hasClass('child')) {
                    $tr = $tr.prev('.parent');
                }

                table.row($tr).remove().draw();
                e.preventDefault();
            });

            //Like record

            table.on('click', '.like', function () {
                alert('You clicked on Like button');
            });
        });
    </script>
</body>

</html>